<h1>New folder</h1>

<% form_for(@folder) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'tasks/simple_form', :locals => {:f => f}%>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', folders_path %>
