<style type="text/css" media="screen">
	body {overflow:auto;}
</style>
<h1>Bulk Add Tasks</h1>
<% form_for :bulk_tasks, :url => bulk_new_task_path do |f| %>
<input type="hidden" id="project_id" name="project_id" value="<%= params[:project_id]%>">
<b>Add tasks, one per line, comma separated in the format:</b><br />
<div>
[Owner], [Section / Category], [Task Title], [Estimate], [High Estimate (optional)]<br>
e.g.<br>
Peter, Meetings Context, Add meeting id to cookie (and supporting functions), 1, 1.5<br>
Tristan, Map UI, Place markers for CCDs, 2 - 3h

</div>
<%= text_area_tag 'tasks', '', :rows => 20, :cols => 120, :style => 'font-family: courier;' %>
<br><%= f.submit 'Save' %> or <%= link_to 'Back', :back%>
<% end %>

