

body, p, ol, ul, td, textarea {
  font-family: "lucida grande", arial, helvetica, sans-serif;
  font-size:   11px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.unassigned { color : red;}
.st { border:1px solid #ccc;border-collapse:collapse;}
.st td {border:1px solid #ccc; margin:0px}
#flash {color:yellow;}
#schedule {overflow:hidden;}
.button_link { 
	background-color:#ABFF8F; padding:0px 3px 1px 3px; text-decoration:none; border:1px solid #777; font-size:10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;	
	}
#header { width:100%;height:36px; position:absolute; top:0px; left:0px; color:#AFD534; background-color:black;}
#header a {font-size:12px; color:white;}
#header a:hover {color:#000;background-color:#AFD534;}
#main { position:absolute; top:36px;}
#header h1 {padding-top:0em; color:white;font-family:Helvetica,Arial; line-height:10px;}
#leftcol  { width:297px; left: 0px;  top:37px;position:absolute; border:0px solid green; overflow:hidden; z-index:10;background-color:white;;}
#rightcol { width:1135px;left: 300px;top:36px;position:absolute; border:0px solid red; overflow:auto;}
.srow {height:2.0em;background-color:white;}
.srow2 {height:2.0em;}
ul {margin:0px;cursor:move;padding:0px;padding-left:8px;}
.lirow {list-style-type:none;cursor:move;height:2.0em;border-top:1px solid #ccc; margin:0px;line-height:1.5em;margin-top:-1px;cursor:move;overflow:hidden; width:100%;}
.lirow:hover {cursor:move}
.lirow a.startstop {display:block;}
.lirow a.button_link {display:inline;font-size:10px;margin-bottom:4px}
a.stopped {display:block;}
a.started {display:block;}
.stopped:hover {background-color:#CCFFBF;color:#000;}
/*.stopped a {color:#4A851E;}*/

.srow:hover {background-color:#FFF0CB;}
div.t_title { width:298px;overflow:hidden;}
.st td {padding-left:3px;padding-right:3px;line-height:1.5em;}
.ganttbar {height:1em; background-color: #74A5FF;position:absolute;margin-top:0.25em;border:0px solid black;z-index:3;}
.ganttbar_r {height:1.4em; background-color: #777;position:absolute;margin-top:0.05em;border:0px solid black;z-index:1;opacity:0.35;}
.ganttbar_o {height:1.2em; background-color: #555;position:absolute;margin-top:0.15em;border:0px solid black;z-index:2;opacity:0.55;}
.ganttbar_p {height:1em; background-color: #b2f980;position:absolute;margin-top:0.25em;}
.ganttbar_s {height:1em; background-color: #647c47;position:absolute;margin-top:0.25em;}
.ganttbar_warn {height:1em; background-color: #e57878;position:absolute;margin-top:0.25em;}

table td {text-align:left;}
h1 { padding-top:1em;}
body {}
.big {font-size:125%;}
#task_submit {margin-top:10px; display:none;}
.sortHelper
{
	border: 3px dashed #666;
	width: auto !important;
}
.help { color: #666; font-size:80%;}
.lirow.Project {
	font-weight:bold; border-top:1px solid black;font-size:12px;height:22px;
}
.Project a {text-decoration:none; display:inline; font-size:14px;}

.lirow.Release {font-weight:bold;font-size:14px;height:22px;}

img.plus {
	background: url(/images/sprites.png) no-repeat scroll -192px -96px;
	height:20px;
	width:20px;
}
img.minus {
	background: url(/images/sprites.png) no-repeat scroll -216px -96px;
	height:20px;
	width:20px;
}
.completed img.item {
	background: url(/images/sprites.png) no-repeat scroll 0px 0px;
	height:20px;
	width:20px;
}

img.item {
	height:20px;
	width:20px;
}

img.stopped {
	height:20px;
	width:20px;
}

img.stopped-hover {
	background: url(/images/icons/control_play.png);
	height:16px;
	width:16px;
}
img.stopped-hover:hover {
	background: url(/images/icons/control_play_blue.png);
	height:16px;
	width:16px;
}

img.started {
	background: url(/images/icons/control_stop.png);
	height:16px;
	width:16px;
}

img.started:hover {
	background: url(/images/icons/control_stop_blue.png);
	height:16px;
	width:16px;
}

.small {font-size:10px;}
a.small {text-decoration:none; color:#999;}
a.small:hover {text-decoration:none; color:#000; background-color:#fff;}

body {overflow:hidden;}
.completed a {color:#777;;}
.lirow2.completed {background-color:#C7C8CF;}
.ui-sortable-helper {color:#000;background-color:#cfc;border:1px dashed #000; width:97%;opacity:0.65;}
.hideul {text-decoration:none;background-color:transparent;}
.hideul:hover {text-decoration:none;background-color:transparent;}
.lirow2 {border:1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	padding:4px;
	line-height:1.5em;
	margin:4px;
	list-style-type:none;cursor:move;
	min-height:14px;
	border-top:1px solid #ccc; 
	margin:1px;
	line-height:1.5em;cursor:move; width:99%;
	background-color:white;
	}
.lirow2.Release, .lirow2.Project { width:100%; border:none; font-size:14px; background-color:#AAAEB6; margin-bottom:0px; padding:0px; height:auto;}
.taglist {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	border: 1px solid #A8BFED;	
	background-color: #DFE7F7;
	padding-left:8px;
	padding-right:8px;
	font-size:10px;
}
.estimate {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	border: 1px solid #C7EAAD;	
	background-color: #EDF6E0;
	padding-left:8px;
	padding-right:8px;
	font-size:11px;
}
.completed .taglist
{
	border: 1px solid #B7BECB;	
	background-color: #CED4DD;	
}

.completed .estimate
{
	border: 1px solid #B7BECB;	
	background-color: #CED4DD;	
}
.lirow2.started {background-color:#CCFFBF;}
.lirow2 a {text-decoration:none;}
.lirow2.started:hover {background-color:#F78989;color:#000;}
.lirow2:hover.Task {background-color:#D9E1F2;color:#000;}
.lirow2:hover.Task.completed {background-color:#C7C8CF;}
.lirow2:hover .estimate,.lirow2:hover .taglist {background-color:white;color:#000;}
select {font-size:11px;}
label {width:50px; display:block; float:left; height:32px;}
textarea {font-size:10px;}